.env
/.idea/
/.venv/
/data/
/airflow_jobs/datalake/
/logs/
/airflow/
/warehouse/
/datalake/
/config/
/airflow_jobs/dags/__pycache__/
/plugins/__pycache__/
/logs/__pycache__/
/__pycache__/
*airflow.db*
*.duckdb*